.statisticsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 100px 0 0 0;
  overflow: auto;
}

.statisticsItem {
  width: 250px;
  height: 200px;
}

.number {
  font-size: 140px;
  font-weight: 400;
  margin: 20px;
}

.label {
  font-size: 22px;
  margin: 10px 20px;
}
